openapi: 3.0.0
info:
  title: Arbitrum Trading with Aave API
  description: API for lending, borrowing, trading, and exchanging tokens on Arbitrum network using Aave liquidity pools.
  version: 1.0.0
  contact:
    name: Arbitrum API Support
    email: support@arbitrum-api.co
    url: https://arbitrum-api.co/support

servers:
  - url: https://arbitrum-api.co/api/v1
    description: Main API server

paths:
  /lend:
    post:
      summary: Lend Tokens on Arbitrum using Aave
      description: Lend tokens to Aave's liquidity pools on Arbitrum and earn interest.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                  description: Your private key in BASE58 format.
                  example: "PRIVATE_KEY_BASE58"
                token_in:
                  type: string
                  description: The token you're lending (e.g., WETH, USDC, DAI).
                  example: "0xTokenAddress"
                amount_in:
                  type: number
                  description: The amount of the token you want to lend.
                  example: 100
                slippage:
                  type: number
                  description: The acceptable slippage percentage (e.g., 1% or 5%).
                  example: 1
                recipient:
                  type: string
                  description: The address where the assets will be deposited.
                  example: "0xRecipientAddress"
      responses:
        200:
          description: Token lending successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  txid:
                    type: string
                    example: "0x5d97fd5f5c24990b395f6a6b989bfb4d5fd0c3b9c620b687e3203d0fda05939d"
        400:
          description: Invalid request (e.g., insufficient liquidity or wrong parameters).
        500:
          description: Internal server error.

  /borrow:
    post:
      summary: Borrow Tokens on Arbitrum using Aave
      description: Borrow tokens from Aave liquidity pools on Arbitrum at competitive interest rates.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                  description: Your private key to authorize and pay for the borrowing transaction.
                  example: "PRIVATE_KEY_BASE58"
                token_out:
                  type: string
                  description: The token you wish to borrow (e.g., USDC, DAI).
                  example: "0xTokenAddress"
                amount_out:
                  type: number
                  description: The amount of tokens you want to borrow.
                  example: 1000
                slippage:
                  type: number
                  description: The acceptable slippage percentage (e.g., 1% or 5%).
                  example: 1
                recipient:
                  type: string
                  description: The address where the borrowed tokens will be sent.
                  example: "0xRecipientAddress"
      responses:
        200:
          description: Token borrowing successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  txid:
                    type: string
                    example: "0x8c97fd5f5c24990b395f6a6b989bfb4d5fd0c3b9c620b687e3203d0fda05939d"
        400:
          description: Invalid request (e.g., insufficient collateral or wrong parameters).
        500:
          description: Internal server error.

  /market/data:
    get:
      summary: Fetch Market Data for Tokens on Arbitrum using Aave
      description: Retrieve real-time market data for Aave's lending and borrowing pools on Arbitrum, including liquidity, interest rates, and borrow limits.
      parameters:
        - name: token_in
          in: query
          required: true
          description: The base token for the market (e.g., USDC).
          schema:
            type: string
            example: "0xA0b86991c6218b36c1d19D4A2e9eb0Ce3606e50E"
        - name: token_out
          in: query
          required: true
          description: The quote token for the market (e.g., DAI).
          schema:
            type: string
            example: "0x5e2dfffa50a2b4e8f4d5003f3f49a2d9e9bc74b2"
      responses:
        200:
          description: Market data retrieved successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  market_data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: "0x62e7bd6c79d50d3c1d9b742f1d3f26b8f29b9f87"
                      base_token_address:
                        type: string
                        example: "0xA0b86991c6218b36c1d19D4A2e9eb0Ce3606e50E"
                      quote_token_address:
                        type: string
                        example: "0x5e2dfffa50a2b4e8f4d5003f3f49a2d9e9bc74b2"
                      borrow_rate:
                        type: string
                        example: "5.2%"
                      lend_rate:
                        type: string
                        example: "3.0%"
                      liquidity:
                        type: string
                        example: "5000 USDC"
        400:
          description: Invalid parameters (e.g., unknown token addresses).
        500:
          description: Internal server error.

  /exchange:
    post:
      summary: Exchange Tokens on Arbitrum using Aave Liquidity Pools
      description: Swap one token for another using Aave liquidity pools on Arbitrum.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                private_key:
                  type: string
                  description: Your private key to authorize the exchange transaction.
                  example: "PRIVATE_KEY_BASE58"
                token_in:
                  type: string
                  description: The token you're exchanging (e.g., WETH, USDC, DAI).
                  example: "0xTokenAddress"
                amount_in:
                  type: number
                  description: The amount of the token you want to exchange.
                  example: 100
                token_out:
                  type: string
                  description: The token you're receiving (e.g., USDC, DAI).
                  example: "0xReceiverTokenAddress"
                slippage:
                  type: number
                  description: The acceptable slippage percentage for the swap.
                  example: 1
                recipient:
                  type: string
                  description: The address where the swapped tokens will be sent.
                  example: "0xRecipientAddress"
      responses:
        200:
          description: Token exchange successful.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  txid:
                    type: string
                    example: "0x5d97fd5f5c24990b395f6a6b989bfb4d5fd0c3b9c620b687e3203d0fda05939d"
        400:
          description: Invalid request (e.g., insufficient liquidity or wrong parameters).
        500:
          description: Internal server error.

  /liquidity:
    get:
      summary: Check Liquidity Status on Arbitrum using Aave
      description: Retrieve the current liquidity status of a specific token pair in Aave's Arbitrum liquidity pool.
      parameters:
        - name: token_in
          in: query
          required: true
          description: The base token for checking liquidity (e.g., USDC).
          schema:
            type: string
            example: "0xA0b86991c6218b36c1d19D4A2e9eb0Ce3606e50E"
        - name: token_out
          in: query
          required: true
          description: The quote token for checking liquidity (e.g., DAI).
          schema:
            type: string
            example: "0x5e2dfffa50a2b4e8f4d5003f3f49a2d9e9bc74b2"
      responses:
        200:
          description: Liquidity status successfully retrieved.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  liquidity:
                    type: string
                    example: "5000 USDC"
        400:
          description: Invalid request parameters.
        500:
          description: Internal server error.

components:
  schemas:
    TokenExchange:
      type: object
      properties:
        private_key:
          type: string

